/* Banner */

.now-playing-banner {
    height: 60px;
    background-color: rgba(194, 135, 224, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 7px;
    box-shadow: 5px 1px 300px #000000;
}

.now-playing-banner p {
    text-align: left;
    display: inline-block;
}

/* Play button */

#play-button {
    padding-left: 10px; 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    vertical-align: middle; 
    opacity: 0.7;
}

#play-button:hover {
    transform: scale(1.5);
}
