@import url('base.less');

.sign-in-space {
    text-align: center;
}

.sign-in-space button {
    background-color: @text-color;
    border: 2px solid #000000;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    text-indent: 10px;
    padding: 10px;
    box-shadow: 5px 1px 300px #000000;
    display: inline-block;
}

.sign-in-space a {
    color: bisque;
}

.sign-in-space input {
    height: 70px;
    // background-color: rgba(255, 255, 255, 0.30);
    // backdrop-filter: blur(10px);
    border-radius: 7px;
    // box-shadow: 5px 1px 300px #000000;
    text-align: center;
    border: none;
}

#login-box {
    width: 360px;
    overflow: hidden;
    margin: auto;  
    margin: 20 0 0 380px;
    padding: 30px;
    background: @background-color-light;
    border-radius: 15px;
    border-width: 3px;
    visibility: hidden;
}